<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; {{ "now"|date("Y") }} <strong>{{ site.title }}</strong>
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="{{ site.url }}/">Home</a></li>
                    <li><a href="{{ site.url }}/about">About</a></li>
                    <li><a href="{{ site.url }}/docs/contribute">Contribute</a></li>
                    <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->