<section class="wet-asphalt">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social">
                    <li><a href="http://twitter.com/devhumanproject"> <i class="icon-twitter icon-large"></i> @devhumanproject</a></li>
                    <li><a href="http://facebook.com/devhuman"> <i class="icon-facebook-sign icon-large"></i> fb.com/devhuman</a></li>
                    <li><a href="http://webchat.freenode.net/?channels=dev-human" target="_blank"><i class="icon-comment icon-large"></i> #dev-human (FreeNode)</a></li>
                    <li><a href="mailto:hello@dev-human.com"><i class="icon-envelope icon-large"></i> hello@dev-human.com </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; {{ "now"|date("Y") }} <strong>{{ site.title }}</strong>
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="{{ site.url }}/">Home</a></li>
                    <li><a href="{{ site.url }}/about">About</a></li>
                    <li><a href="{{ site.url }}/docs/contribute">Contribute</a></li>
                    <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->