<section class="post-share clearfix">

    <div class="pull-right">
        <div class="fb-like" data-href="{{ site.domain_url }}{{ site.url }}{{ post.url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>

    <div class="pull-right mt3">
        <div class="g-plusone" data-size="medium" data-href="{{ site.domain_url }}{{ site.url }}{{ post.url }}"></div>
    </div>

    {% if page.authors is defined %}
        {% set author =  site.authors[page.authors[0]].twitter_handle %}
    {% else %}
        {% if post.author is defined %}
            {% set author = site.authors[post.authors[0]].twitter_handle %}
        {% else %}
            {% set author = 'devhumanproject' %}
        {% endif %}
    {% endif %}
    <div class="pull-right mt3">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.domain_url }}{{ site.url }}{{ post.url }}" data-text="{{ post.title }} by @{{ author }} &raquo;" data-via="devhumanproject" data-related="devhumanproject">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

</section>