<div class="widget search">
    <form id="searchbar_form" role="form" action="https://www.google.com/search" target="_blank">
        <div class="input-group">
            <input type="hidden" name="sitesearch" value="{{ site.domain_url }}">
            <input type="text" class="form-control" autocomplete="off" placeholder="Search" name="q">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit"><i class="icon-search"></i></button>
                </span>
        </div>
    </form>
</div><!--/.search-->

<div class="widget">
    <h3>About</h3>
    <p><strong>dev-human</strong> is a collaborative blog created by developers, for developers, focused on non-technical, lightening content. [ <a href="{{ site.url }}/about">read more</a> ]</p>
</div>

<div class="widget categories">
    <h3>Categories</h3>
    <div class="row">
        <div class="col-sm-6">
            <ul class="arrow">
                {% for category,posts in data.posts_categories %}
                <li><a href="{{ site.url }}/entries/categories/{{ category|url_encode(true) }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div><!--/.categories-->

<div class="widget tags">
    <h3>Tag Cloud</h3>
    <ul class="tag-cloud">
        {% for tag,posts in data.posts_tags %}
        <li><a class="btn btn-xs btn-primary" href="{{ site.url }}/entries/tags/{{ tag|url_encode(true) }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</div><!--/.tags-->

<div class="widget facebook-fanpage">
    <h3>Facebook</h3>
    <div class="widget-content">
        <div class="fb-like-box" data-href="https://www.facebook.com/devhuman" data-width="350" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    </div>
</div>

<div class="widget">
    <a class="twitter-timeline" href="https://twitter.com/devhumanproject" data-widget-id="466147523204096000">Tweets by @devhumanproject</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>