{% extends "default" %}

{% block content_wrapper %}

<div class="blog-item">
    <!--<img class="img-responsive img-blog" src="{{ site.url }}/images/blog/blog2.jpg" width="100%" alt="" />-->
    <div class="blog-content">
        <h3>{{ page.title }}</h3>
        <div class="entry-meta">
            {% if page.authors %}
                {% set author_list = page.authors %}
                {% include 'author_list.twig' %}
            {% endif %}
            <span><i class="icon-folder-close"></i> {% for category in page.categories %}
            <a href="{{ site.url }}/entries/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}</span>
            <span><i class="icon-calendar"></i> {{ page.date|date(site.default_date_format) }}</span>
        </div>

        {{ page.blocks.content|raw }}

        <section id="social-icons" class="clearfix">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style pull-right">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-526833fd774882a3"></script>
            <!-- AddThis Button END -->
        </section>

        <hr>

        <div class="tags">
            <i class="icon-tags"></i> Tags {% for tag in page.tags %}
            <a class="btn btn-xs btn-primary" href="{{ site.url }}/entries/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>
            {% endfor %}
        </div>

        <p>&nbsp;</p>

        {% if page.authors %}
            {% set author_list = page.authors %}
            {% include 'author_box_list.twig' %}
        {% endif %}

        {% if page.previous_post or page.next_post %}
            <nav class="article">
                <ul>
                    {% if page.next_post %}
                        <li>Next: <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a></li>
                    {% endif %}
                    {% if page.previous_post %}
                        <li>Previous: <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- disqus -->
    <script type="text/javascript">
        var disqus_shortname = 'devhuman';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>

{% endblock %}